#cabecera {
    width: 100%;
    height: 80px;
    background: #f9f9f9;
    display: grid;
    grid-template-columns: 200px 1fr;
    box-shadow: 0 0 30px rgb(0 0 0 / 13%);
}
.cabecera-panel {
    background:rgb(241, 241, 247);
    display: grid;
    grid-template-columns: 70% 20%;
    align-content: center;
    color: white;
}
.cabecera-panel.panel{
    display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0 ;

}
.cabecera-panel.panel.ul{
    max-width: 400px;
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            margin-left: 30px;
}
.cabecera-panel.panel.ul.li{
                    content: "/\00a0";
                    color: white;
                    font-size: 23px;
                    margin: 0;
                    padding: 0;
                    list-style: none;
}
.cabecera-panel.panel.ul.li.a{
    font-size: 23px;
                    text-decoration: none;
                    color: white;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }


#contenido-perfil{
    width: 100%;
    background-color:#1F628E ;

}
.logo-panel{
    height: 10px ;
    width: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 50px;
   
   
}
.logo-panel.a.img{
    height: 5px;
    width:5px;
}
.box{
    
        
        align-items: center;
    float: right;
}
.box.div.h3{
    font-size: 15px;
}
.box.img{
    display: block;
            border-radius: 3px;
            border: 1px solid white;

}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.caja-perfil{
    background-color: white;
    text-align: center;
    position: static right;

}
.perfil{
    display: center;
    
    
}
.perfil.img{
    position: 14;
}
.perfil.h2{
    display: block;
}
.datos{
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    list-style: none;
}